<div id="faqcontente">	
	<section class="toggle active">
	    <label>{{question}}?</label>
	    <p>{{answer}}</p>
	</section>
</div>


<div id="faqcontent">	
	<div>
		<p>{{question}}</p>
		<p>{{answer}}</p>	
	</div>
</div>

<div id="faqAccordianContent">
    <div class="panel panel-default pgl-panel">
        <div class="panel-heading">
            <h4 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse"><p>
                
            
            What is the main teaching of Oshodhara?</p></a> </h4>
        </div>
        <div class="panel-collapse collapse in" id="collapseOne">
            <div class="panel-body">

                <p>'Zorba the Buddha'</p>
                <p> as Osho said —‘Buddha cannot laugh, cannot dance, cannot sing, cannot love. Now what kind of life will it be? Hollow! ‘Zorba can sing, dance, enjoy food, drink, love. Think of these two becoming one. 'Zorba the Buddha' - sings, dances…but, with a grace, with a beauty. Even silence will become a song for him. That is the main teaching of Oshodhara — 'Zorba the Buddha'.</p>
            </div>
        </div>
    </div>
</div>

