.myButton {
  background-color: #41bd62;
  border-radius: 14px;
  border: 1px solid #10821d;
  display:inline-block;
  cursor:pointer;
  color: #ffffff;
  font-family: Arial;
  font-size:17px;
  padding: 5px 15px;
  text-decoration:none;
  text-shadow: 1px 1px 0px #2F6626;
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

.displayNone{
  display: none;
}